 @{
        ViewBag.Title = "Home Page";
    }

@*JUMBOTRON*@
        <div id="homeContent" class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="jumbotron">
                        <h2 id="jumbotronHeader">WELCOME TO THE ULTIMATE SWITZERLAND  TRAVEL REVIEW SITE</h2><br />
                        <p>
                            Switzerland is a mountainous Central European country, home to numerous lakes, villages
                            and the high peaks of the Alps. Its cities contain medieval quarters, with landmarks like
                            capital Bern’s Zytglogge clock tower and Lucerne’s wooden chapel bridge. The country is
                            also known for its ski resorts and hiking trails. Banking and finance are key industries,
                            and Swiss watches and chocolate are world renowned.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>